body {
  background-color: rgb(250, 245, 240);
  font-family: "Helvetica";
  font-weight: 200;
  font-size: 2em;
  text-align: center;
}

#timer {
  width: 10em;
  height: 10em;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#name {
  font-weight: 400;
}

#contents {
  height: 5em;
  width: 10em;
  line-height: 5em;
  margin-left: auto;
  margin-right: auto;
}

.control {
  font-size: 0.8em;
  display: inline-block;
  width: 4em;
  cursor: pointer;
}
