body {
  background-color: #fff;
  font: 14px/1.5 -apple-system, "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 50px;
  color: #595959; }

h1, h2, h3 {
  line-height: 1.1;
  margin: 0 0 20px; }

p, ul {
  margin: 0 0 20px; }

h2 {
  color: #393939;
  font-weight: 500; }

h3 {
  color: #494949;
  font-weight: 500;
  line-height: 1.5; }

h4 {
  font-size: 1.1em;
  font-weight: 100; }

a {
  color: #8f4898;
  text-decoration: none; }

a:hover {
  color: #9b436d; }

strong {
  color: #222;
  font-weight: 500; }

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic; }

img {
  max-width: 100%; }

code, pre {
  font-family: Monaco, Lucida Console, Courier New, monospace;
  color: #333;
  font-size: 12px; }

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  white-space: pre-wrap; }

#wrapper {
  width: 860px;
  margin: 0 auto; }

.rtl {
  direction: rtl; }

@media print, screen and (max-width: 960px) {
  #wrapper {
    width: auto;
    margin: 0; } }
@media print, screen and (max-width: 760px) {
  body {
    word-wrap: break-word; }

  pre, code {
    word-wrap: normal; } }
@media print, screen and (max-width: 480px) {
  body {
    padding: 15px; } }
header {
  width: 270px;
  height: 90%;
  float: left;
  position: fixed;
  overflow-x: auto;
  -webkit-font-smoothing: subpixel-antialiased; }
  header ul {
    list-style: none;
    padding: 0; }
  header .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 1em; }

#title-main {
  text-align: center; }

#categories,
#contact,
#lang,
#categories-main,
#rc,
#rss {
  margin-top: 50px; }

.rc-scout {
  height: 80px !important;
  width: 70px !important; }

.rc-text {
  font-size: 0.8em;
  margin-top: 10px; }

@media print, screen and (max-width: 960px) {
  header {
    float: none;
    position: static;
    width: auto;
    padding-right: 320px; }

  #calendarView,
  #categories,
  #rss,
  #signature,
  #rc {
    display: none; }

  #title-main {
    text-align: inherit; } }
@media print, screen and (max-width: 760px) {
  header {
    padding: 0; }

  #calendarView {
    display: none; } }
#main-wrapper {
  margin-top: 210px; }

section {
  width: 500px;
  float: right;
  padding-bottom: 50px; }

.postTitle h3 {
  color: #ab65ad; }

.post {
  padding-bottom: 2em;
  padding-top: 0; }

@media print, screen and (max-width: 960px) {
  section {
    float: none;
    position: static;
    width: auto;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px; }

  #main-wrapper {
    margin-top: 2em; } }
.col-1 {
  margin-right: 2em;
  display: inline-block;
  vertical-align: top;
  padding-top: 0.1em; }

.col-2 {
  width: 70%;
  display: inline-block; }

.pic {
  height: 200px;
  border-radius: 5%; }

.thumb-img {
  max-width: none; }

.thumb-container {
  margin: 0.5em;
  display: inline-block;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 5%; }

.btn {
  background-color: #fff;
  border: 1px solid #9b436d;
  border-radius: 5px;
  padding: 3px 5px; }
